.MySGonksContainer {
  height: 93%;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.ChartAndInfoContainer {
  background: lightblue;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.SGonksListContainer {
  background: lightcoral;
  height: 37%;
  width: 100%;
}

.ChartContainer {
  height: 100%;
  width: 64%;
  background: lightgreen;
}

.InfoContainer {
  width: 34%;
  height: 100%;
  background: lightyellow;
}
