.Row {
  height: 17%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-weight: 300;
}

.SearchQueryCell {
  width: 35%;
}

.BuyInCell {
  width: 13%;
}

.AmountCell {
  width: 15%;
}

.ButtonCell {
  width: 7%;
}
