
.SelectCompContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    padding: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.LogoutButton {
    width: 80px;
    margin-left: auto;
    color: blue;
}

.ScrollCompetitionsContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ScrollButton {
    margin: auto 0;
}

.CompetitionCard {
    display: flex;
    border: solid;
    padding: 20px;
}

.CompetitionCardColumn {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
    height: auto;
}

.ViewCompButton {
    margin: 10px;
    padding-top: 15px;
    height: 30px;
    width: 250px;
    border: solid 1px #E9E9E9;
    text-decoration: none;
    font-weight: bold;
    border-radius: 7px;
    color: #2F7DE7;
    text-align: center;
}

.CreateCompButton {
    padding-top: 20px;
    height: 40px;
    width: 250px;
    border: solid 1px #1A73E8;
    background-color: #2F7DE7;
    text-decoration: none;
    font-weight: bold;
    border-radius: 7px;
    color: white;
}

.Place {
    font-size: 40px;
    text-align: center;
}