.Header {
    padding: 20px;
    display: flex;
}

.LogoutButton {
    width: 80px;
    margin-left: auto;
    color: blue;
}

.ScrollCompetitionsContainer {
    display: flex;
    justify-content: space-evenly;
}

.ScrollButton {
    margin: auto 0;
}

.CompetitionCard {
    display: flex;
    border: solid;
    padding: 20px;
}

.CompetitionCardColumn {
    padding: 20px;
    text-align: left;
}

img {
    width: 150px;
    height: auto;
}

.ViewCompButton {
    width: 100%;
    color: blue;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

.CreateCompButton {
    height: 40px;
    color: white;
    background-color: blue;
    padding-left: 40px;
    padding-right: 40px;
}

.Place {
    font-size: 40px;
    text-align: center;
}