.HeaderBar {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    width: 130px;
    padding: 30px;
    padding-right: 0;
}

.NavigationContainer {
    width: 100%;
    padding-left: 20px;
}

.Navigation {
	height: 100%;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.Navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.Navigation li {
	display: inline-block;
	margin: 20px;
}

.Navigation a {
    text-decoration: none;
    font-weight: bold;
    color: #808080;
    padding-bottom: 10px;
}

.Navigation a.active {
    border-bottom: 2px solid #216FD6;
}

.ButtonsContainer {
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 20px;
}