.CreateCompetitionContainer {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.CreateCompetitionContainer p {
  font-size: 1.6vw;
}

.CreateCompetitionContainer span {
  font-size: 1.4vw;
}

.Title {
  font-size: 150%;
}

.MainBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  border: solid 1px lightgray;
}

.MainBox > * {
  flex-grow: 1;
}

.PlaceHolderBox {
  width: 100px;
  height: 90%;
  border-radius: 7px;
  border: solid 1px gray;
  background-color: lightgray;
}

.CompetitionInfoLeft {
  width: 50%;
  height: 100%;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.CompetitionInfoRight {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2%;
}

.CompetitionInfoRight p {
  font-size: 1.4vw;
}

.TextColumnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.BoxColumnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.BoxColumnContainer input[type="text"],
input[type="date"] {
  margin: 30px;
  border: 1px solid lightgray;
  padding: 10px;
  width: 100%;
}

.CreateCompetitionPage {
  margin: auto;
}

.AddParticipants {
}

.AddParticipants input[type="text"] {
  margin-left: 10px;
  margin-right: 20px;
  border: 1px solid lightgray;
  padding: 7px;
  width: 50%;
}

.AddParticipants p {
  font-size: 1.2vw;
}

.ButtonContainer {
  width: 70%;
  height: 15%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
