.MarketPlace {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: space-around;
	justify-content: center;
}

.GoogleSearchDisplayedConatainer {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
}

.RightColumnConatainer {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.GoogleSearchContainer {
	width: 30%;
	height: 30%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.ChartContainer {
	height: auto;
	max-width: 100%;
}

.ChartImg {
	width: 80%;
}

.GoogleSearchInfoContainer {
	width: 65%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	margin: auto;
}

.BigText {
	font-size: 125%;
}

.TrendingInvestmentContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
	border-radius: 7px;
	border: solid 1px lightgray;
}

.RightColumnContainer {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.TeammatesInvestmentContainer {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 7px;
	border: solid 1px lightgray;
}

.Button {
	width: 40%;
	border-radius: 7px;
	border: solid 1px #1a73e8;
	height: 20%;
	text-align: center;
	color: white;
	font-weight: bolder;
	justify-content: center;
	vertical-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #2f7de7;
}
