.ExplanationPageContent {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ExplanationContainer {
  width: 85%;
  height: 100%;
  display: flex;
  padding: 5px 5px 25px 50px;
  flex-direction: column;
}

.ExplanationContainer h1 {
  font-weight: 500;
  font-size: 2.5vw;
}

.BackButton {
  text-align: center;
}
