.DashboardContainer {
  height: 93%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.Column {
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.WelcomeMessage {
  height: 9%;
}

.WelcomeMessage h1 {
  font-size: 2vw;
  text-align: left;
  white-space: nowrap;
  font-weight: 300;
  line-height: 0;
}

.WelcomeMessage h1 span {
  font-weight: 500;
}

.CompInfo {
  height: 43%;
}

.TeammateBuy {
  height: 40%;
}

.YourSGonks {
  height: 49%;
}

.ChartContainer {
  height: 36%;
}

.MoneyInfo {
  height: 34%;
}

.TrendingSearches {
  height: 51%;
}

.CompInfo h2 {
  text-align: left;
  font-size: 1.5vw;
  font-weight: 500;
}
