.DashboardContainer {
  height: 93%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.Column {
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.WelcomeMessage {
  height: 9%;
}

.WelcomeMessage h1 {
  font-size: 2vw;
  text-align: left;
  white-space: nowrap;
  font-weight: 300;
  line-height: 0;
}

.WelcomeMessage h1 span {
  font-weight: 500;
}

.CompInfo {
  height: 43%;
}

.TeammateBuys {
  height: 41%;
}
.CompInfo h2 {
  font-size: 1vw;
}

.YourSGonks {
  height: 50%;
}

.ChartContainer {
  height: 37%;
}

.MoneyInfo {
  height: 35%;
}

.TrendingSearches {
  height: 52%;
}
