.Button {
    font-family: "Open Sans";
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px 40px;
    border-radius: 4px;
    font-size: 16px;
    white-space: nowrap;
}

.White {
    background-color: #FFF;
    border: 1.5px solid #E9E9E9;
    color: #2F7DE7;
}

.Blue {
    background-color: #2F7DE7;
    border: 1.5px solid #1A73E8;
    color: white;
}