.Header {
    display: flex;
    flex-direction: row;
}

.Body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Column {
    width: 50%;
    padding: 50px;
}

.Logo {
    width: 150px;
    height: auto;
    padding: 15px;
    margin-right: 500px;
}

h1 {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

p {
    margin: 15px;
    font-size: 20px;
}

.Buttons {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
}

.Login {
    width: 200px;
    color: white;
    margin-right: 10px;
    padding-top: 10px;
    height: 30px;
    border-radius: 7px;
    border: solid 1px #1A73E8;
    background-color: #2F7DE7;
    text-decoration: none;
    font-weight: bold;
}

.Help {
    width: 300px;
    padding-top: 10px;
    height: 30px;
    border: solid 1px #E9E9E9;
    text-decoration: none;
    font-weight: bold;
    color: #2F7DE7;
    border-radius: 7px;
}


