.List {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.SeeAll {
  height: 12%;
  padding-top: 3%;
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.SeeAll:hover {
  color: #2f7de7;
  text-decoration: underline;
}
