.Row {
  height: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ChangeArrow {
  width: 10%;
}

.SearchTerm {
  width: 50%;
  text-align: left;
}

.CurrentPrice {
  width: 38%;
  text-align: right;
}

.ChangeIndicator {
  font-weight: 700;
  font-size: 2vw;
  margin-top: -2%;
}
